.header {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid grey;
}

.main-compo-wrap { 
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  width: calc(100% - 30px);
  margin: auto auto;
}
.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.btn {
    padding: 3px 10px;
    font-size: inherit;
}
.settings {
  height: 200px;
  padding: 10px;
  overflow: hidden scroll;
}
.wrap-table{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  width: calc(100% - 30px);
  margin: auto;
}

.button-wrap {
  display: inline-block;
  margin-right: 10px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab_button_active {
  border: 1px solid grey;
  background-color: white;
  border-bottom: transparent;
  border-radius: 5px 5px 0px 0px
}
.tab_button{
  cursor: pointer;
  padding: 5px 10px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style for button page */
.main-tab{
  border-bottom:1px solid lightgrey;
}